.App {
  text-align: center;
}

.sign-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  color: black;
}

button {
  margin: 5px;
  font-size: 15px;
}

li {
  list-style: none;
}

.btn {
  width: 200px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

a {
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 4px;
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.2s;
}

a:hover {
  background-color: black;
  color: white;
}
